---

---

<div class="group relative block h-auto w-full">
  <span
    class="absolute h-full inset-0 border-2 rounded border-dashed border-orange-500"
  ></span>

  <div
    class="relative flex flex-col h-full transform border-2 rounded border-neutral-500 bg-gray-300 dark:bg-gray-900 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
  >
    <slot />
  </div>
</div>
